/* retirer les puces */

ul {
  list-style-type: none;
}

/* header et menu côte à côte */

#topsection {
  display:flex;
}

/* paragraphes en justifié, sur 80 % de largeur, et centrez leurs blocs sur la page */

p {
  width: 80%;
  text-align: justify;
  margin-left:auto;
  margin-right:auto;
}
